@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background-color: black; 
}

.modal-open {
  overflow: hidden;
}

.modal-background {
  background: rgba(0, 0, 0, 0.8);
}
